<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @profile.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @profile.last_name %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @profile.gender %>
</p>

<p>
  <strong>Birth date:</strong>
  <%= @profile.birth_date %>
</p>

<p>
  <strong>City:</strong>
  <%= @profile.city %>
</p>

<p>
  <strong>Country:</strong>
  <%= @profile.country %>
</p>

<p>
  <strong>Presentation:</strong>
  <%= @profile.presentation %>
</p>

<p>
  <strong>Marital status:</strong>
  <%= @profile.marital_status %>
</p>

<p>
  <strong>Height:</strong>
  <%= @profile.height %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @profile.weight %>
</p>

<p>
  <strong>Eyes:</strong>
  <%= @profile.eyes %>
</p>

<p>
  <strong>Hair:</strong>
  <%= @profile.hair %>
</p>

<p>
  <strong>Sexual orientation:</strong>
  <%= @profile.sexual_orientation %>
</p>

<p>
  <strong>Occupation:</strong>
  <%= @profile.occupation %>
</p>

<p>
  <strong>Astrology:</strong>
  <%= @profile.astrology %>
</p>

<p>
  <strong>Region:</strong>
  <%= @profile.region %>
</p>

<p>
  <strong>Nationality:</strong>
  <%= @profile.nationality %>
</p>

<p>
  <strong>Purpose:</strong>
  <%= @profile.purpose %>
</p>


