
      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <div class="container">
          <div class="row">
            <div class="col-md-7">
                <h2 class="display-3">
                Tchatte avec de nouvelles personnes du monde entier.
                </h2>
                <p>
                Des millions de personnes de partout dans le monde s'amusent et se font de nouveaux amis tous les jours sur FlirtAgenda.
                </p>
				<p>
				
				</p>
			</div>
			<div class="col-md-5">
				<div class="card">
					<div class="card-body">
						<h5 class="card-title">Veuillez vous connecter</h5>
						
			<p class="card-text">

				<div class= "form-signin">


			<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
			<div class="form-group">
			
				<%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "Email",  required: true %>
			</div>

			<div class="form-group">
			
				<%= f.password_field :password, autocomplete: "current-password", class: "form-control", placeholder: "Mot de passe",  required: true %>
			</div>

			<% if devise_mapping.rememberable? -%>
				<div class="form-label-group">
				<%= f.check_box :remember_me %>
				<%= f.label :remember_me %>
				</div>
			<% end -%>

			<div class="form-label-group">
				<%= f.submit "Se connecter", class: "btn btn-lg btn-primary btn-block" %>
			</div>
			<% end %>
			</div>
			</p>
			</div>
			</div>

			</div>
          </div>
        </div>
      </div>

      <!-- 
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <h2>Heading</h2>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
            <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
          </div>
          <div class="col-md-4">
            <h2>Heading</h2>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
            <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
          </div>
          <div class="col-md-4">
            <h2>Heading</h2>
            <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
            <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
          </div>
        </div>

       

      </div> -->

   

    